/*General*/


:root {
    --black: rgb(0, 0, 0);
    --blueNav: rgb(20, 33, 61);
    --yellowButtons: rgb(253, 163, 18);
    --greyHoov: rgb(229, 229, 229);
    --whiteMainText: rgb(255, 255, 255);
}


@font-face {
    font-family: Barletta;  
    src: url(../assets/fonts/Barletta.otf);
}

main{
    text-align: center;
    background-color: black;
}

p{
    width: 95%;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 1em;
}

h1, h2, h3, h4 , h5, h6 {
    color: var(--yellowButtons);
    font-family: Barletta;
    text-align: center;
}

.content{
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--blueNav);
}

header{
    background-image: url(../assets/img/banner.jpg);
    height: 500px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    text-align: center;
}

.banner{
    font-family: Barletta;
    color: var(--yellowButtons);
    letter-spacing: 0.25em;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
}

#tituloBanner {
    margin-bottom: 0px;
    background-color: black;
    border-style: ridge;
    border-color: var(--yellowButtons);
    border-radius: 10px 10px 0px 0px;
    border-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#subtituloBanner {
    margin-top: 0px;
    background-color: var(--yellowButtons);
    border-style: ridge;
    color: black;
    border-color: var(--yellowButtons);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0px 0px 10px 10px;
    border-top: 0px;
}

nav{
    background-color: var(--yellowButtons);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: var(--blueNav);
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    margin-top: 84px;
}

.navButton{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 30px;
    padding: 8px;
    width: 200px;
    box-shadow: 6px 1px 20px 8px rgba(0,0,0,0.75);
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.navButton:hover {
    background-color: var(--greyHoov);
  }

.navButton > a{
    padding-top: 4px;
    padding-left: 8px;
}

.navButton > img{
    width: 30px;
    height: 30px;
}

address{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
    color: var(--yellowButtons);
    background-color: black;
    padding: 5px;

}

#footerA {
    background-color: var(--greyHoov);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
}

#logoFooter{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    text-align: center;
}

#rrss{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#rrss > div> img {
    width: 20px;
    height: 20px;
}


/*INICIO*/

.profilePic{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#bienvenida{
    background-image: url(../assets/img/fondoInicio.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



/*BIOGRAFIA*/

#bio{
    background-image: url(../assets/img/fondoAboutMe.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


/*CONTACTO*/

#contenedorFormulario{
    background-image: url(../assets/img/fondoContact.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

form{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    background-color: rgba(253, 163, 18, .7);
    border-radius: 10px;
    
}

label{
    padding-bottom: 5px;
}
.campo{
    display: flex;
    flex-direction: column;
    padding-top: 10px;

}

input:hover{
    background: var(--blueNav);
    color:white;
}

#enviar{
    margin-top: 10px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

#preError {
    width: 95%;
    padding: 10px;
    background-color: var(--greyHoov);
    color: var(--blueNav);
    font-size: 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}
/*PORTFOLIO*/

.contentPorfolio{
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--blueNav);
}

.galeriaFotos{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(253, 163, 18, .7);
    margin:15px;
    padding: 30px;
    border-radius:20px;
    text-align: center;
}

.galeriaFotos > img {
    width: 85%;
    padding: 3px;
    border-radius: 25px;
    border: 3px;
    border-style: inset;
    border-color: black;
    margin-bottom: 10px;
}

.galeriaFotos > img:hover {
    background-color: var(--greyHoov);
}

#introTrabajos {
    background-image: url(../assets/img/fondoWorks.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*MEDIA QUERY*/

@media only screen and (max-width: 350px) {
    #bienvenida, #bio, #contenedorFormulario {
        width: 90%;
    }

    nav{
        margin-top: 46px;
    }
    .banner{
        width: 90%;
    }

    form{
        width: 90%;
    }

    #preError {
        background-color: var(--greyHoov);
        color: var(--blueNav);
        font-size: 5px;
        border-radius: 5px;
        margin-top: 10px;
        overflow-y: scroll;
    }


}

@media only screen and (max-width: 420px) {
    #preError {

        padding: 5px;
        background-color: var(--greyHoov);
        color: var(--blueNav);
        font-size: 7px;
        border-radius: 5px;
        margin-left: auto;

        margin-top: 10px;
    
    }
}

@media only screen and (min-width: 500px) {

    p{
        font-size: 1.1rem;
    }
    
    header{
        height: 377px;
    }
    
    nav {
        flex-flow: row wrap;
        justify-content: center;
    }

    #footerA{
        flex-direction: row;
        justify-content: space-between;
    }

    #logoFooter{
        margin-left: 40px;
        margin-right: 40px;
    }

    #rrss{
        margin-right: 40px;
    }
  
  }

  

  @media only screen and (min-width: 864px) {
    header{
        height: 315px;
    }
  }
  
  @media only screen and (min-width: 1000px) {
    p{
        font-size: 1rem;
    }

    .content{
        padding-left:8%;
        padding-right: 8%;
        flex-direction: row;
  
    }
    
    #bienvenida, #bio, #contenedorFormulario {
        width: 70%;
        padding-left: 40px;
        
    }

    form{
        width: 65%;
        margin: auto
    } ;



    #logoFooter{
        width: 250px;
    }
   
  }
